 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

 :root{
    --base-bg-color:#e6e6fa70;
    --base-btn-color:#6300a3;
    --base-font-family:'Noto Sans', sans-serif;
    --base-font-color:#111;
    --base-bg-white:#fff;
    --base-crimson-color:#ed264f;
    
   
 }

*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}

body {
    background: var(--base-bg-color);
   font-family: var(--base-font-family);
   color: var(--base-font-color);
}

#navbar {
    background: var(--base-bg-white);
    height: 70px;
    border-bottom: 1px solid #eee;
}

#navbar > .nav-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    height: inherit;
    align-items: center;
}

#navbar > .nav-container > div {
    flex-basis: 50%;
}
#navbar > .nav-container > div:nth-child(2){
    display: flex;
    justify-content: flex-end;
}

.logo a {
    display: flex;
    text-decoration: none;
    font-size: 25px;
    
}

.logo a span:first-child{
    color: #ed264f;
    padding: 0 7px 0 0px;
    font-weight: bold;
}

.logo a span:last-child {
    color: rgb(46, 5, 78);
    font-weight: 100;
}

#course-container  > article {
    display: flex;
    height: 100vh;
    gap: 5px;
}

#course-container article .sidebar {
    flex-basis: 20%;
    border-right: 1px solid #eee;
    background-color: #6300a3;
}

#course-container  .content-wrapper {
    flex-basis: 80%;
    padding: 20px;
    background-color: transparent;
   
}

.sidebar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.sidebar ul li a {
   background-color: #29262e5c;
    color: #fff;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 10px 20px;
    border-bottom: 1px solid #673AB7;
} 


.sidebar ul li a:hover {
    background-color:#30064c;
    transition: ease all 0.7s;
    transform:translate(2);
    
}
.sidebar .active {
    background-color: #ed264f;
    color: #fff;
}

.sidebar .active:hover {
    background: #d63354;
}

.content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    min-height: 250px;
    background: #fff;

}

.authBlock {
    padding-top: 3em;
}

.authBlock h1 {
    padding: 20px;
    color: var(--base-crimson-color);
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
}

.authBlock form {
    padding: 20px;
    background: #fff;
    width: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.form-group {
    flex-basis: 49%;
}
.desc_block {
    flex-basis: 100%;
}

.at {
    flex-basis: auto;
    display: contents;
}


.authBlock label {
    width: 100%;
    padding: 10px 0;
    color: #888;
    font-size: 16px;
    font-weight: 200;
    display: block;
}

.authBlock input , .authBlock textarea {
    width: 100%;
    border: 1px solid #999999ac;
    color: #6300a3;
    border-radius: 5px;
    outline: none;
    padding: 10px;
}

.authBlock button {
    background-color: var(--base-btn-color);
    color: var(--base-bg-white);
    font-weight: 400;
    width: 100%;
    border-radius: 5px;
    margin: 20px 0;
    padding: 10px;
    cursor: pointer;
     border: 1px solid var(--base-btn-color);

}


.authBlock button:hover {
    background: #4d2568;
}

.spinner {
  display: grid;
  place-items: center;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: conic-gradient(
    from 180deg at 50% 50%,
    rgba(82, 0, 255, 0) 0deg,
    #4d2568 360deg
  );
  animation: spin 2s infinite linear;
}
.spinner::before {
  content: "";
  border-radius: 50%;
  width: 90%;
  height: 90%;
  background-color: var(--base-bg-white);
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}


.spinner-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
}

.courses {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.courses .list {
    flex-basis: 24%;
    background: #fff;
    border: 1px solid #efefef;
    min-height: 100px;
    border-radius: 5px;
    margin: 20px 0 0;
    padding: 10px;
}

.courses h1 {
    font-size: 20px;
    font-weight: 500;
    color: var(--base-btn-color);
    padding: 10px 0;
    text-transform: capitalize;
    border-bottom: 1px solid #eee;
}
.courses p {
    font-size: 15px;
    font-weight: 100;
    padding: 10px 0;
}

.view_more {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.view_more a {
   padding: 5px 10px;
    border: 1px solid #E91E63;
    color: #E91E63;
    text-transform: capitalize;
    font-size: 14px;
    text-decoration: none;
    border-radius: 5px;
}

.view_more  a:hover {
    background-color: #d63354;
    color: #fff;
}


.course_details header {
    background: #fff;
    padding: 20px;
    margin: 10px 0;
}

.course_details main {
    background: transparent;
    padding: 20px;
}

.course_details footer {
    background-color: #fff;
    padding: 20px;
}

.course_details main p {
    padding: 10px 0;
    border-bottom: 1px solid #efefef;
    margin: 10px 0;
}

.course_details header a.btn-help {
    float: right;
    text-transform: lowercase;
    text-decoration: none;
    padding: 3px 20px;
  
}

.course_details header .edit {
background-color: #6300a3;
border: 1px solid #4d2568;
color: #fff;
}

.course_details header .delete {
background-color: #ed264f;
border: 1px solid #E91E63;
color: #fff;
}

.course_details header .back {
background-color: #fff;
border: 1px solid #eee;
color: #4d2568;
}

.searchBlock {
    width: 99%;
}

.searchBlock input {
    background: #fff;
    width: 99%;
    padding: 16px 23px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #eee;
    margin: 10px 0;
    font-size: 16px;
    font-weight: 100;
}

.searchIcon {
    position: relative;
}
.searchIcon svg {
    position: absolute;
    right: 10px;
    top: -1px;
    font-size: 25px;
    color: #9C27B0;
    font-weight: 100;
}

/* user block css starts here */

.userBlock {
    background: #fff;
    width: 100%;
    padding: 10px;
}

.userBlock h2 {
    color: var(--base-btn-color);
    font-weight: 300;
    text-transform: uppercase;
    padding: 10px 0;
}

.userBlock table {
    border: 1px solid #efefef;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
.userBlock tr , td {
    border: 1px solid #efefef;
    padding: 10px;
    
}

.userBlock thead {
   background-color: #6300a3;
    color: #fff;
    padding: 10px;
    height: 20px;
    padding: 20px;
    height: 50px;
    border: 1px solid #fff;
}

.userBlock img {
    width: 100px;
    height: 100px;
    border-radius:5px;
}

.nav-link {
    background: #673AB7;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid transparent;
}
.nav-link:hover {
    background-color: #fff;
    border: 1px solid #673AB7;
    color: #673AB7;
}

.navbar {
    flex-basis:80%;
}

.navbar ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}
.navbar ul li a {
    text-decoration: none;
    padding: 10px 15px;
    color: #111;
    text-transform: capitalize;
    border-radius: 5px;
}
.navbar ul li a:hover {
    color: #d63354;
}

.navbar ul li a.active {
    background-color: #6300a3;
    color: #fff;
}
.log-btn {
      background: #E91E63;
    color: #fff;
    padding: 12px 15px;
    display: inline-grid;
    border-radius: 5px;
    border: 1px solid #cf296199;
    cursor: pointer;
    font-weight: 700;
    text-transform: capitalize;
    margin: 10px;
}


.navbar figure {
    width: 50px;
    height: 50px;

}

.navbar img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}